name: Docker

on:
  workflow_call:
    inputs:
      docker-target:
        type: string
        default: 'trxd'
      upstream-version:
        type: string
        default: ''
        required: false
    secrets:
      docker-username:
        required: true
      docker-password:
        required: true
      github-pat:
        required: true

jobs:
  docker:
    name: Build and Push
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout default branch
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

      - name: Prepare
        id: prep
        run: |
          REPO=${GITHUB_REPOSITORY#*/}
          DOCKER_IMAGE_NAME="$(echo ${{ inputs.docker-target }} | tr '[:upper:]' '[:lower:]')/$REPO"

          if [ "${{ github.event_name }}" = "schedule" ]; then
            DOCKER_IMAGE_VERSION=nightly
          elif [[ $GITHUB_REF == refs/tags/* ]]; then
            DOCKER_IMAGE_VERSION=${GITHUB_REF#refs/*/v}
          elif [[ $GITHUB_REF == refs/heads/* ]]; then
            DOCKER_IMAGE_VERSION=edge
          elif [[ $GITHUB_REF == refs/pull/* ]]; then
            DOCKER_IMAGE_VERSION=pr-${{ github.event.number }}
          fi

          if [[ -n "${{ inputs.upstream-version }}" ]]; then
            UPSTREAM_VERSION=${{ inputs.upstream-version }}
          else
            UPSTREAM_VERSION="$(sh ./version.sh $(cat .repo))"
          fi
          if [[ -z "${UPSTREAM_VERSION}" ]]; then
            exit 1
          fi
          TAGS="${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_VERSION},ghcr.io/${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_VERSION}"
          TAGS="${TAGS},${DOCKER_IMAGE_NAME}:${UPSTREAM_VERSION#v},ghcr.io/${DOCKER_IMAGE_NAME}:${UPSTREAM_VERSION#v}"
          TAGS="${TAGS},${DOCKER_IMAGE_NAME}:latest,ghcr.io/${DOCKER_IMAGE_NAME}:latest"

          echo ::set-output name=tags::${TAGS}
          echo ::set-output name=args::"VERSION=${UPSTREAM_VERSION}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@e81a89b1732b9c48d79cd809d8d81d79c4647a18 # v2.1.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@4b4e9c3e2d4531116a6f8ba8e71fc6e2cb6e6c8c # v2.5.0 

      - name: Login to DockerHub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a # v2.1.0
        with:
          username: ${{ secrets.docker-username }}
          password: ${{ secrets.docker-password }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a # v2.1.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.github-pat }}

      - name: Build and push Docker image
        uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825 # v4.1.1
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: ${{ steps.prep.outputs.tags }}
          build-args: ${{ steps.prep.outputs.args }}

      - name: Logging and Push
        continue-on-error: true
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git commit --all --amend --reset-author --no-edit --message "Build image at $(TZ=UTC date +'%Y/%m/%d')"
          git push --force
